<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Map tpl</title>
</head>

<body>
<ul>
    {{range $index, $element := .}}
    <li>{{$index}} - {{$element}}</li>
    {{end}}
</ul>
</body>
</html>