<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>011 composition</title>

</head>
<body>
    <ul>
    {{range .}}<br>
    <li>{{.Name}} - {{.Age}}</li>
    {{end}}
    </ul>

</body>
</html>