<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some tpl</title>
</head>
<body>
<ul>
    {{range .}}
    <li><h1>What is your name: {{.}}</h1></li>
    {{end}}
</ul>
</body>
</html>