<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

    List of doubleZero:
    <ul>
    
        {{range.}}
            {{if .LicenseToKill}}
            <li>{{.Name}} - {{.Age}} - have license</li>
            {{else}}
            <li>{{.Name}} - {{.Age}} - haven`t license</li>
            {{end}}
        {{end}}
    </ul>
    
</body>
</html>