<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Slice of Struct</title>
</head>
<body>
    <ul>
        {{range .}}
        <li>{{.Login}} - {{.Pass}} - {{.Email}}</li>
        {{end}}
    </ul>
</body>
</html>