<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nested-templates</title>
</head>
<body>
    <h1> This is what we have in index template: {{.}}</h1>
    <p>{{template "polarbear"}}</p>
</body>
</html>